[submodule "perun-eth-demo"]
	path = perun-eth-demo
	url = https://github.com/perun-network/perun-eth-demo.git
[submodule "go-perun"]
	path = go-perun
	url = https://github.com/perun-network/go-perun.git
[submodule "perun-eth-contracts"]
	path = perun-eth-contracts
	url = https://github.com/perun-network/perun-eth-contracts.git
